
@import 'vars';
@import 'global';
@import 'fonts';

//start header
.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 91px;
    align-items: center;
}
.headet__text {
    //сдвигаем максимально в право
    margin-left: auto;
    margin-right: 50px;
    // margin: 0 25px 0 auto;
    >a>span{
        color: $red;
    }
}
.header__phone {
}
.header__box {
}
.basket {
}
.header__btn {
    padding: 4px 0;
    width: 72px;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
}
    .header__btn-login{
        background-color: $green;
        margin-right: 7px;
    }
    .header__btn-register{
        background-color: $red;
    }
.header__menu{
    background-color: $bc-menu;
}
    .menu{
        display: flex;
        align-items: center;
        height: 60px;        
    }
        .menu__list{
            li{
                display: inline-block;
                & + li{
                    margin-left: 38px;
                }
            }
            a{
                color: #fff;
                font-size: 14px;
                line-height: 30px;
            }
        }
//end header
//start search
.search{
    // Для функцианала BackEnd смены фонового изображения, переносим background-image: в html inline-style
    // background-image: url(../images/bc-search.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 532px;
}
.search__inner{
    padding: 150px 0 100px;
    color: #fff;
    text-align: center;
    &-title {
        font-size: 48px;
        font-weight: 700;
        line-height: 52px;
        padding-bottom: 27px;
    }
    &-text {
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 49px;
        font-weight: 500;
    }
    &-form {
        max-width: 670px;
        //Вместо  text-align: center пишем см. ниже
        margin: 0 auto;
        position: relative;
        input {
            display: block;
            font-size: 14px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: .5pt;
            width: 100%;
            height: 56px;
            border: none;
            padding: 0 60px 0 25px;
            box-shadow: 0 1px 10px 0 rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            outline: none;
            color: $input;
            &::placeholder{
                color: $input;
                font-weight: 500;
            }
            //Для любителей клавиатуры
            &:focus{
                border: 1px solid greenyellow;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            width: 20px;
            height: 20px;
            right: 25px;
            top: 19px;
            outline: none;
            cursor: pointer;
        }
    }
}
//end search
//start products
.products{
    padding: 110px 0;
    background-color: $bc-product;
}
    .products__title{
        font-size: 36px;
        line-height: 60px;
        font-weight: 700;
        text-align: center;
        color: $bc-menu;
    }
    .products__inner{
        &-btn{
            margin-bottom: 60px;
            text-align: center;
            color: $bc-menu;
            button{
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;
                padding: 12px 21px;
                background-color: #fff;
                border: none;
                cursor: pointer;
                outline: none;
                &.mixitup-control-active{
                    background-color: $red;
                    color: #fff;
                    transition: all .5s;
                }
                & + button{
                    margin-left: 5px;// +1 border
                }
            }
        }
        &-box{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    .product__item{
        max-width: 442px;
        width: 100%;
        box-shadow: 0 1px 2px 0 rgba(205,214,222, .75);
        margin-bottom: 30px;
        background-color: #fff;
        &-img{
            min-height: 250px;
            //так как ссылка делаем ее блочную, что бы нормально изображение отображалось
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &-content{
            display: flex;
            justify-content: space-between;
            //Паддинг сверху и снизу 10 на всякий случай
            padding: 10px 31px;
            min-height: 90px;
            align-items: center;
            border-bottom: 1px solid #e7ecf2;
        }
        &-name{
            max-width: 310px;
            font-weight: 500;
            color: $bc-menu;
        }
        &-title{
            font-size: 18px;
            display: block;
        }
        &-category{
            font-size: 14px;
            display: block;
            color: $green;
        }
        &-price{
            font-size: 20px;
            font-weight: bold;
        }
        &-info{
            display: flex;
            justify-content: space-between;
            min-height: 68px;
            align-items: center;
            padding: 10px 31px;
        }
        &-auther{
            font-size: 14px;
            font-weight: 500;
            max-width: 250px;
            //мы сделали свой вариант
            span{
                height: 30px;
                width: 30px;
                border-radius: 50%;
                background-position: center;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: cover;
                margin-right: 14px;
                // Выравнивает все элементы: картинку, автора и product__item-star (05), а Вадим недопер
                vertical-align: middle;
            }
        }
        &-star{
            font-size: 12px;
            color: #b0bec5;
            span{
                color: $bc-menu;
            }
        }
    }
    .products__bottom-btn{
        text-align: center;
        button{
            //margin-top Всего 75, т.к. отступ .product__item -> margin-bottom: 30px;
            margin: 45px 5px 0;
            padding: 20px 32px;
            font-size: 16px;
            background-color: #fff;
            border: none;
            box-shadow: 0 1px 3px 0 rgba(204, 216, 228, .75);
            color: $bc-menu;
            cursor: pointer;
            outline: none;
            &.mixitup-control-active{
                background-color: $red;
                color: #fff;
                transition: all .5s;
            }
        }
    }
//end products
//start product-slider
.product-slider{
    padding: 124px 0 120px;
    .slick-dots{
        text-align: center;
        margin-top: 37px;
        li{
            display: inline-block;
            height: 16px;
            & + li{
                margin-left: 7px;
            }
            button{
                border-radius: 50%;
                outline: none;
                font-size: 0;
                border: none;
                width: 16px;
                height: 16px;
                background-color: #e8e8e8;
                cursor: pointer;
            }
            &.slick-active{
                button{
                    background-color: $green;
                }
            }
        }
    }
}
//end product-slider
//start tutorials
.tutorials{
    padding: 75px 0 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 370px;
        width: 100%;
        &-images{
            min-height: 270px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &-title{
            font-size: 24px;
            line-height: 30px;
            font-weight: bold;
            // @include f700;
            background-color: #f8f8f8;
            padding: 37px 10px;
            text-align: center;
        }
    }
}
